<script
  type="text/javascript"
  src="https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22feeds%22%2C%22version%22%3A%221.0%22%2C%22nocss%22%3Atrue%7D%5D%7D"></script>

<script src="http://siddii.github.io/angular-feeds/app/angular-feeds/angular-feeds.js"></script>

<script>
  angular.module("app", ["feeds"])
</script>

<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about">About</a></li>
  <li><a routerLink="graphs">View Data</a></li>
  <li><button (click)="logout()" class="btn btn-green" style="float:right;">Logout</button></li>
</ul>


<router-outlet></router-outlet>
